SECRET_KEY=django-insecure-$r)u24cm_ylnznk8hsm1$$wjh9)2hh&#(0oa#jqyr($$jcc&qb
DEBUG=True
TELEGRAM_BOT_TOKEN=6939833053:AAEXOYqD4Dkv6aAhzk12VGL5bp9OqKWgHBc
WEBHOOK_SECRET_KEY=DvZTLgz2yncxeJjfSuCWsp64Gd8VRkNE
MYSQL_LOGIN=oootskm2_yttserv
MYSQL_PASSWORD=5PqV*m&C
VK_TOKEN=vk1.a.OjFdQuIZD2lVEX_7yA4autZ5rNbuQKv0-_gq3iPXfxlSAECNxFri8ETfXhbZDyJ3x2I_GJcsun39gs219XzpikmBsFixxb-aYOn2R66Cz3h9XirOkb7khHP7Zw4FxJh7M4mR7ItQSA3SpBpwhYfaEPPpTvIbGOiTfnwSRVa-o_bCt4n-qncNfUwwCkywqY7XnIRUolNikyud8OndOs8Jew
XTUNNEL_URL=https://ytt-31.store