SECRET_KEY=django-insecure-$r)u24cm_ylnznk8hsm1$$wjh9)2hh&#(0oa#jqyr($$jcc&qb
DEBUG=True
TELEGRAM_BOT_TOKEN=6939833053:AAEXOYqD4Dkv6aAhzk12VGL5bp9OqKWgHBc
WEBHOOK_SECRET_KEY=DvZTLgz2yncxeJjfSuCWsp64Gd8VRkNE
MYSQL_LOGIN=oootskm2_yttserv
MYSQL_PASSWORD=5PqV*m&C
VK_TOKEN=vk1.a.OjFdQuIZD2lVEX_7yA4autZ5rNbuQKv0-_gq3iPXfxlSAECNxFri8ETfXhbZDyJ3x2I_GJcsun39gs219XzpikmBsFixxb-aYOn2R66Cz3h9XirOkb7khHP7Zw4FxJh7M4mR7ItQSA3SpBpwhYfaEPPpTvIbGOiTfnwSRVa-o_bCt4n-qncNfUwwCkywqY7XnIRUolNikyud8OndOs8Jew
XTUNNEL_URL=https://ytt-31.store
WEB_TOKEN=LsH45qCYHFU32UXoHbPSAqueIAsSjw3BISFKv5pBAjEj2TZdGiCQ9o7cOcqbu4jxZorer4P47TbwqxivV4IwOZXtCCE8XgUTCXjY8x8suYRVLYblV4308JrVqmcqSv91wI0qSAXWA5geMTJt4JSH5ZqrqcF65DVzBFTfhFHjqqvYjJhAWr5esh5iGxZ2oovbiEzFGxzfGZW9jlZzzZkcmRUWacMmuaySoD9PTDbOUhFclvskeMPbww1PUs3hDspCvkyoZXFJy2yt9IKIAHYy6TtcvWi6Qu49dp69v4g0ZT6xpeeXjpMRVK3mMExBkd95tULLB59ax1pl9tdySupmlZWM9E0UbcgSIBhuSWmPt1lIGAAvKAFZCAh90a8RaorZs91VSSqHHr7gIlSQGXBZ8Edh5U955OBxF0EPl6XstiCOmmtjx3BuqqhKHle9eSEVLHGJBc7fyycrGCshxkX6dG1ahtmZkspgYyBClh2F0tCvJ8RSLYvmOBu5oj6CjsuZ